.img {
  width: 500px;
  padding: 5px;
}

.box-img {
  align-content: center;
  object-fit: content;
  background-color: transparent;
  border: 2px solid #c8b273;
  margin-top: 1px;
  /* width: fit-content; */
  align-self: center;
  border-radius: 12px;
  margin-left: 3px;
  height: fit-content;
}

.box-desc {
  /* border-left-color: grey;
  border-left-width: 2px;
  border-left-style: solid; */
  height: fit-content;
  border: 2px solid #c8b273;
  background-color: transparent;
  border-radius: 12px;
  margin-top: 0.2rem;
  margin-right: 5px;
}

.volver {
  display: flex;
  justify-content: flex-start;
  margin-top: -2rem;
  margin-left: 0.3rem;
}
