.container-navbar {
  width: 100%;
  height: 13vh;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #834655;
  margin-bottom: 2rem;
  border-bottom: 3px solid #c8b273;
}
ul {
  font-size: 1.3rem;
  padding-right: 10rem;
  align-self: center;
  list-style: none;
  display: flex;
  gap: 5rem;
}
.link {
  text-decoration: none;
  font-weight: 650;
  color: black;
  font-size: larger;
}

img {
  justify-self: center;
  width: 200px;
}

.cart {
  align-self: center;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}
span {
  font-size: 1.5rem;
  font-weight: 700;
}
